@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
}

.a {
  color: black !important;
}

.input-field input[type="text"]:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px 0 0 rgb(8, 93, 252) !important;
}

#toast-container {
  top: 30px !important;
  right: 20px !important;
  left: auto !important;
}
